html{
  height: 100%;
  width: 100%;
}
#page:-webkit-scrollbar {
  display: none;
}
body{
  margin:0;
  height: 100%;
}
#page {
  top : 125px;
  position: absolute;
  margin-top: 0;

  
}
#search {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;

}
#boiteCours{
  border: 5px solid black;

}
