input {
    width : 400px; 
    height: 20px;   
    font-size: 16px; 
}

#invoicePage {
    position: absolute;
    top : 125px;
    width: 100%;
}

#formBox {
    text-align: left;
    margin: 2%;
    width: 45%;
    border: 3px solid pink;
}
#invoiceBox {
    margin: 2%;
    width : 45%;
}
#data {
    display: flex;
}
#searchBox {
    padding: 20px;
    font-size: larger;
    text-align: center;
    
}

.infoBox {
    margin: 10px;
    font-size: 20px;
}

.button {
    padding: 10px;
    margin: 10px;
    font-size: large;
    color: black;
    border : 1 px solid white;
    border-radius: 10px;
    background-color: pink ;

}
button.button:hover{
    box-shadow: 2px 2px black;
}
button.button:active{
    color : white
}

#erreurMessage {
    margin: 20px;
    font-size: 25px;
    color : red;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}